<%- include("templates/headerAuthenticated") %>

<div style="padding-left: 10%;">
    <h1>Welcome <%= user %></h1>
    <p>Click into members at the top right to access the members area!</p>
</div>



<%- include("templates/footer") %>