<%- include("templates/header") %>

<div style="padding-left: 10%;">
    <a href="/signup" class="btn btn-primary white-font">Sign Up</a>
    <br>
    <br>
    <a href="/login" class="btn btn-primary white-font">Log In</a>
</div>


<%- include("templates/footer") %>