<%- include("templates/header") %>

<form action="/submitUser" method="post">
    <div>Create User:</div>
    <input name="name" type="text" placeholder="Name">
    <br>
    <input name="email" type="email" placeholder="Email">
    <br>
    <input name="password" type="password" placeholder="Password">
    <br>
    <a href=""></a>
    <button>Submit</button>
</form>


<%- include("templates/footer") %>